# Node
node_modules/
**/node_modules/
.npm/
.npm-cache/
**/.npm-cache/
.pnpm-store/
npm-debug.log*

# Next.js
.next/
out/
.vercel/

# General
.DS_Store
dist/
build/
coverage/
playwright-report/

# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
